<div class="container">
    <div class="row">
      <div class="col-md-5 description-text">
        <h3>Problems Interactive</h3>
        <p>Four loko trust fund Wes Anderson sriracha, skateboard Truffaut cold-pressed XOXO gentrify kogi 
        swag kitsch Blue Bottle. Meh normcore aesthetic paleo kogi, pug Wes Anderson try-hard High Life Etsy. 
        Street art lo-fi drinking vinegar banh mi, YOLO photo booth try-hard.</p>
      </div>

      <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
          <div class="form-top">
            <div class="form-top-left">
              <h4><center>Sign up now</center></h4>
            </div>
            <div class="form-top-right">
              <%= image_tag "retina.svg" %>
            </div>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label :email, :class => "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.email_field :email, :class => "form-control", autofocus: true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :first_name, :class => "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.text_field :first_name, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :last_name, :class => "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.text_field :last_name, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password, "Password", :class => "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.password_field :password, :class => "form-control", autocomplete: "off" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, "Password confirm", :class => "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
                </div>
              </div>

              <br>
            <div class="row">
              <div class="pull-left left-padder">
                <div class="actions">
                  <%= f.submit "Sign up", :class => "btn btn-block btn-primary" %>
                </div>
              </div>
            <% end %>
            <div class="pull-left left-padder">
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= link_to(omniauth_authorize_path(resource_name, provider), :class=>"button small-button green-button") do %>
                  or sign up with
                  <span class="fui-facebook"></span>
                <% end %>
              <% end -%>
            <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
</div>

