<div data-id='<%= comment.id %>'>
  <div class="col-md-4">
    <div class="panel comment-body">
      <p><%= comment.content %></p>
      <div class="user-img">
        <%= user_img(comment.user) %>
      </div>
      <p><%= comment.user.first_name %></p>
      <p><%= link_to "Delete", post_comment_path(comment.post, comment), :method => :delete, :remote => true %></p>
    </div>
  </div>
</div>