<div data-id='<%= comment.id %>' class="">
  <div class="col-md-6">
    <div class="panel comment-body clearfix">
      <div class="triangle-border">
        <p>
        <%= markdown(auto_link(comment.content, :html => { :target => '_blank' })) %>
        </p>
      </div>
      <div class="user-container clearfix">
        <div class="user-img user-comment">
          <%= user_img(comment.user) %>
          <p class="user-text"><%= comment.user.first_name %></p>
        </div>
        <div class="comment-info">
          <p><%= comment.created_at.strftime("on %m/%d/%Y at %I:%M%p") %></p>
          <%= delete_comment_link(current_user, comment) %>
        </div>
      </div>
    </div>
  </div>
</div>