<div class="container">
<h1><%= @language.name %></h1>
<h1><%= @problem.title %></h1>

<%= raw @problem.content %>

<%= progress_buttons(@language_problem) %>

<br>

<%= link_to "New Post", new_problem_post_path(@language.slug, @problem.slug) %> <br>
<%= link_to "Show all posts", problem_posts_path(@language.slug, @problem.slug) %>


<%= render :partial => 'posts/post_link', :collection => @posts, :as => :post %>
</div>