<%= link_to 'CHAT ROOM', new_problem_room_path(@language.slug, @problem.slug)  %>
<div class="row">
  <div class="col-md-3 pull-right">
    <div class="pull-right">
    <button class="btn btn-primary dropdown-toggle" id="button-padding">
      finished users: <%= @users_finished.count %>
    <button class="btn btn-primary dropdown-toggle" id="button-padding">
      current users: <%= @users_working.count %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row top-pad">
    <div class="col-md-6 col-sm-12">
      <div class="panel bread-crumb">
        <h6>
          <%= link_to progress_path(@language.slug) do %>
            <i class="icon-<%= language_icon(@language) %>"></i> <%= @language.name %>
          <%- end -%> / <%= problem_number(@problem) %>
        </h6>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="panel problem-buttons">
          <%= progress_buttons(@language_problem) %>
      </div>
    </div>    
    <div class="col-md-3 col-sm-12">
      <div class="panel problem-buttons">
          <%= favorite_buttons(@language_problem) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel problem-body">
        <div class="problem-title">
          <h2><%= problem_title(@problem) %></h2>
        </div>
        <div class="problem-content">
          <%= raw @problem.content %>
        </div>
      </div>
    </div>
  </div>
<div class="box-footer">
    <div class="col-md-6">
      <%= render @posts %>
      <%= paginate @posts %>
        <%#= link_to "Show all posts!", problem_posts_path(@language.slug, @problem.slug) %>
    </div>
    <div class="col-md-6">
      <h6 class="top-fix"><strong>Stuck?</strong> Just write a post!</h6>
      <p class="question-font">Kale chips Banksy Austin 8-bit Pitchfork, hashtag selfies kitsch paleo trust fund irony taxidermy chillwave. 
      3 wolf moon scenester roof party, 8-bit Brooklyn put a bird on it beard Wes Anderson freegan tilde DIY Marfa 
      Thundercats Williamsburg. PBR&amp;B XOXO quinoa fixie. XOXO ennui fap lomo.</p>
      <%= render :partial => 'posts/form' %>
    </div>
</div>

</div>
