<div class="container">

  <div class="row top-pad">
    <div class="col-md-6" style="padding-right:0px;">
      <div class="dark-panel">
        <div class="post-body" id="bread-text">
          <%= link_to progress_path(@language.slug) do %>
            <i style="color: <%= language_color(@language) %>;" class="icon-<%= language_icon(@language) %>"> </i><l style="color: <%= language_color(@language) %>;"><%= @language.name.upcase %></l>
          <%- end -%> / <%= problem_number(@problem) %>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-left:0px;">
        <div class="col-md-12 bread-button" id="bread-button">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle button-padding pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">finished users: <%= @users_finished.count %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" id="dropdownMenu1">
            <% if @users_finished.count > 0 %>
              <% @users_finished.each do |user| %>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= user.full_name %></a></li>
              <% end %>
            <% end %>
          </ul>
          </div>
          <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle pull-right" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">working users: <%= @users_working.count %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
            <% if @users_working.count > 0 %>
              <% @users_working.each do |user| %>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= user.full_name %></a></li>
              <% end %>
            <% end %>
          </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="row top-pad">
    <div class="col-md-12">
      <div class="panel">
        Hello
      </div>
    </div>
  </div>

</div>
