<div class="container">

  <div class="row top-pad">
    <div class="col-md-12">
      <div class="dark-panel panel-height">
        <div class="post-body clearfix" id="bread-text">
          <div class="float-left">
            <%= link_to progress_path(@language.slug) do %>
              <i style="color: <%= language_color(@language) %>;" class="icon-<%= language_icon(@language) %>"> </i><l style="color: <%= language_color(@language) %>;"><%= @language.name.upcase %></l>
            <%- end -%> / <%= problem_number(@problem) %>
          </div>
          <div class="bread-button clearfix" id="bread-button">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle button-padding float-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Users Finished: <%= @users_finished.count %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu user-list" id="finished" role="menu" id="dropdownMenu1">
                <%= render partial: 'problems/user_dropdown', collection: @users_finished, as: :user %>
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle float-right" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">Users Working: <%= @users_working.count %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu user-list" id="working" role="menu" aria-labelledby="dropdownMenu2">
                <%= render partial: 'problems/user_dropdown', collection: @users_working, as: :user %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-pad">
    <div class="col-md-4">
      <div class="panel">
        <div class="dropdown">
          <div class="panel-buttons">
            <button class="btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">Existing Rooms
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
              <% if @rooms %>
                <% @rooms.each.with_index(1) do |room, index| %>
                  <li role="presentation">
                    <%= link_to "Room #{index}", problem_room_path(@language.slug, @problem.slug, room), role: "menuitem", tabindex: "-1" %></li>
                <% end %>
              <% end %>
            </ul>
            <%= link_to 'Start A New Chat', new_problem_room_path(@language.slug, @problem.slug), :class => 'btn btn-primary pull-right' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <%= progress_buttons(@language_problem) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <%= favorite_buttons(@language_problem) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel problem-body">
        <div class="problem-title">
          <h2><%= problem_title(@problem) %></h2>
        </div>
        <div class="problem-content">
          <%= raw @problem.content %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="post-box panel" id="post-box">
        <%= render @posts %>
      </div>
      <div id="paginator">
        <%= paginate @posts,:remote => true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <h6 style="text-align: center;"><strong>Stuck?</strong> Just ask a question!</h6>
      </div>
        <%= render :partial => 'posts/form' %>
    </div>
  </div>

</div>
