<div class="container">

  <h1>MAKE A LESSON - YOU HOST!</h1>

  <%= form_for [@language, @lesson], :class => "form-horizontal" do |f| %>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <%= f.text_area :description, :class => "form-control", :rows => 4, :placeholder => "Short description of your lesson!" %>
      </div>
      <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <%= f.datetime_select :schedule, :ampm => true %>
        <%= collection_select(:problem, :id, Problem.all, :id, :shortened_name, {}, {:class => "form-control problem-selector"}) %>
      </div>
    </div>
      <input type="hidden" id="timezone" name="lesson[time_zone]" value="">



    <h5>YOU GOT FRIENDS? INVITE EM'!</h5>
    <div class="form-group checkbox">
      <%= collection_check_boxes(:user, :id, User.all, :id, :full_name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <%- end -%>
    </div>




    <%= f.submit "Schedule it!" %>
  <% end %>
</div>