<div class="container">

  <div class="row top-pad">
    <div class="col-md-12">
      <div class="dark-panel">
        <div class="post-body-search" id="languages-text">
          <span id="languages-title"><%= language_symbol(@language) %> <l style="color: <%= language_color(@language) %>;"><%= @language.name.upcase %></l> DASHBOARD</span>
          <%= form_tag problem_search_path(@language), class: "post-body-search pull-right", role: "search" do %>
              <input name="query" type="text" class="form-control" id="problem-search" placeholder="Search all problems...">
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-pad">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center;">Favorite Problems</h3>
        </div>
        <div class="panel-body" style="min-height: 76px; text-align: center;">
          <% if @favorites.empty? %>
            <%= render 'problems/no_favorites' %>
          <% else %>
            <%= render partial: 'problems/favorite', :collection => @favorites, as: :favorite %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <%= link_to language_problem_path(@language.slug, @current_problem.slug), id: "current-problem-link-text" do %>
        <div class="panel col-md-12" id="current-problem-panel">
          <div class="col-md-12" id="current-problem-link">
            TAKE ME TO MY CURRENT  <%= language_symbol(@language) %> <l style="color: <%= language_color(@language) %>;"><%= @language.name.upcase %></l>  PROBLEM
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" id="schedule-panel">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center;">Upcoming Lessons You're Teaching</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <colgroup>
              <col style="width:25%">
              <col style="width:35%">
              <col style="width:35%">
              <col style="width:5%">
            </colgroup>
            <thead>
              <tr>
                <th>Time</th>
                <th>Problem</th>
                <th>Lesson Description</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody id="lesson-group">
                <%= render partial: 'lessons/event', collection: @lessons, as: :event %>
            </tbody>
          </table>
          <div class="col-md-6 col-md-offset-3" id="new-lesson-div">
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newLesson">Schedule New Lesson</button>
            <%= render 'lessons/create_modal' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" id="schedule-panel">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center;">Upcoming Courses To Attend</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <colgroup>
              <col style="width:25%">
              <col style="width:35%">
              <col style="width:35%">
              <col style="width:5%">
            </colgroup>
            <thead>
              <tr>
                <th>Time</th>
                <th>Problem</th>
                <th>Course Description</th>
                <th>Link</th>
              </tr>
            </thead>
            <%- if @courses.empty? -%>
              </table>
              <%= render 'problems/no_courses' %>
            <%- else -%>
              <tbody id="course-group">
                <%= render partial: 'lessons/event', collection: @courses, as: :event %>
              </tbody>
            </table>
            <%- end -%>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to root_path, id: "back-dashboard-link-text" do %>
        <div class="panel col-md-12" id="current-problem-panel">
          <div class="col-md-12" id="current-problem-link" >
            BACK TO LANGUAGE TRACKS
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

