<div class="container">

  <div class="row top-pad">
    <div class="col-md-12">
      <div class="dark-panel">
        <div class="post-body" id="languages-text">
          <span id="languages-title"><%= language_symbol(@language) %> <l style="color: <%= language_color(@language) %>;"><%= @language.name.upcase %></l> DASHBOARD</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-pad">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center;">Upcoming Lessons You're Teaching</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Time</th>
                <th>Problem</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                <%= render partial: 'lessons/lesson', collection: @lessons, as: :lesson %>
            </tbody>
          </table>
          <div class="col-md-6 col-md-offset-3" id="new-lesson-div">
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newLesson">Schedule New Lesson</button>
            <%= render 'lessons/create_modal' %>
          </div>
        </div>
      </div>
    </div>    
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center;">Enrolled Courses</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Time</th>
                <th>Problem</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                <%= render partial: 'lessons/lesson', collection: @lessons, as: :lesson %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center;">Favorite Problems</h3>
        </div>
        <div class="panel-body">
            <%= render partial: 'problems/favorite', :collection => @favorites, as: :favorite %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel col-md-12" id="current-problem-panel">
        <div class="col-md-12" id="current-problem-link">
          <%= link_to language_problem_path(@language.slug, @current_problem.slug), id: "current-problem-link-text" do %>
            TAKE ME TO MY CURRENT  <%= language_symbol(@language) %> <l style="color: <%= language_color(@language) %>;"><%= @language.name.upcase %></l>  PROBLEM
            <span class="link-spanner"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="panel col-md-12" id="current-problem-panel">
        <div class="col-md-12" id="current-problem-link" >
          <%= link_to root_path, id: "back-dashboard-link-text" do %>
          BACK TO LANGUAGE TRACKS<span class="link-spanner"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

