<div id="meta" data-user-id="<%= current_user.id %>" data-room-id="<%= @room.id %>"style="display: none;"></div>

<div class="container">
  <div class="row top-pad">
    <div class="col-md-12">
      <div class="dark-panel panel-height bread-crumb">
        <div class="post-body" id="languages-text">
          <span id="languages-title">
            <%= link_to progress_path(@language.slug) do %>
              <%= language_symbol(@language) %><l style="color: <%= language_color(@language) %>;"><%= @language.name.upcase %></l>
            <%- end -%> /
            <%= link_to language_problem_path(@language.slug, @problem.slug) do %>
              <%= problem_number(@problem) %>
            <%- end -%> / <%= @room.title %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-pad">
    <div class="col-md-9 col-sm-12">
      <div id="chatbox">
        <%= render :partial => 'messages/message', :collection => @room.messages, :as => :message %>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= render 'rooms/users', room: @room %>
    </div>
  </div>

  <%= form_for [@room, Message.new], :url => new_room_message_path(@room), :remote => true do |f| %>
    <%= f.text_field :content, :id => "textfield-#{current_user.id}", :class => "full-width", :placeholder => "Type message here..." %>
    <%= f.submit "Send", :style => "display: none;" %>
  <%- end -%>

  <%= subscribe_to problem_room_path(@room.language, @room.problem, @room) %>
</div>
