<%= form_for @contact_form do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="form-group">
  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>
</div>

<div class="form-group">
<%= f.label :message, "Ask your question here!" %>
<%= f.text_area :message %>
</div>
<div class= "hidden">
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
</div>
<div class="form-group">
<%= f.submit "Send" %>
</div>
<% end %>

