<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <%= link_to "Co-Code", root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse">

  <% if signed_in? %>
    <ul class="nav navbar-nav pull-right">
      <li>
        <%= render 'layouts/problem_lessons' if @language && @problem %>
      </li>
      <li>
        <%= render 'layouts/lesson_invites' %>
      </li>
      <li><%= link_to "Welcome Back, #{current_user.first_name}!", root_path, class: "nav-link" %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
    </ul>
  <% else %>
    <ul class="nav navbar-nav pull-right">
      <li><a href="" data-toggle="modal" data-target=".bs-login-modal-sm" class="nav-link">Log In</a></li>
    </ul>
  <% end %>

  </div>
</nav>

<!-- Small modal -->
<% if !signed_in? %>
  <div class="modal fade bs-login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">NICE TO SEE YOU</h4>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="actions">
            <%= render "devise/shared/fb" %>
          </div>
          <strong class="line-thru">- or -</strong>
          <div class="field col-md-6 col-md-offset-3" id="modal-field">
            <%= f.email_field :email, autofocus: true, class: "col-md-12", :placeholder => "email", id: "modal-field" %>
          </div>

          <div class="field col-md-6 col-md-offset-3" id="modal-field">
            <%= f.password_field :password, autocomplete: "off", class: "col-md-12", :placeholder => "password", id: "modal-field" %>
          </div>

          <div class="field col-md-12 col-md-offset-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>

          <div class="actions">
            <%= f.submit "LOG IN", class: "btn btn-block btn-md btn-inverse", id: "login-btn-modal" %>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
<% end %>

