<% if signed_in? %>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      
      <%= link_to "Tech-Quest", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Welcome Back, #{current_user.first_name}!", root_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav navbar-nav pull-left">
      <%= link_to "Tech-Quest", root_path, class: "navbar-brand" %>
    </div>
    <div class="">
      <ul class="nav navbar-nav pull-right">
        <li><button id="login" type="button" class="btn btn-block btn-md btn-inverse" data-toggle="modal" data-target=".bs-login-modal-sm">Log In</button></li>
      </ul>
    </div>
  </nav>
<% end %>

<!-- Small modal -->
<div class="modal fade bs-login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Log In</h4>
    </div>
    <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="actions">
          <%= render "devise/shared/fb" %>
        </div>
        <div class="field col-md-12">
          <%= f.label :email %><br>
          <%= f.email_field :email, autofocus: true, class: "col-md-12" %>
        </div>

        <div class="field col-md-12">
          <%= f.label :password %><br>
          <%= f.password_field :password, autocomplete: "off", class: "col-md-12" %>
        </div>

        <div class="field col-md-12">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>

        <div class="actions">
          <%= f.submit "Log In", class: "btn btn-block btn-md btn-inverse" %>
        </div>
      <% end %>
      
      </div>
    </div>
  </div>
</div>
