<!DOCTYPE html>
<html>
<head>
  <title>Co-Code</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" media="(max-width: 9900px)" href="max-990px.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<%= render 'layouts/navbar' %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>